footer{
    background-color: black;
    width: 100%;
    height: 600px;
    border-top: rgb(218, 218, 218) 5px solid;
    text-align: center;
    color: white;
    position: relative;
}
footer>h3{
    font-weight: 300;
}
footer>hr{
    border-color: white;
    border-style: solid;
}   
footer>span{
    font-weight: 100;
}