nav{
    background-color: white;
    border-bottom: gray 1px solid;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 5px rgb(194, 194, 194);
    position: fixed;
    top: 0;
    left: 0;
}
body{
    margin: 0;
}
nav>svg{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 68px;
    transform: translateY(-50%) translateX(-50%);
}