header svg{
    height: 100px;
    width: 100px;
    position: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transition: transform 1s ease-in-out;
}
header svg:hover{
    transform: translateX(-50%) rotateZ(720deg);
    transition: transform 1s ease-in-out;
}
header{
    border-bottom: rgb(153, 153, 153) 2px solid;
    position: fixed;
    width: 100%;
    height: 100px;
}