#profile{
    background-color: rgb(179, 179, 179);
    border-radius: 20px;
    padding: 20px;
    width: 220px;
    padding-right: 0px;
}
#profile>img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#profile>span#a{
     font-size: 20pt;
     color: white;
     text-align: center;
}